<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper" > 
	<resultMap type ="Member" id="memberResultMap" >
	<result column ="USER_NO" property="userNo"/>
	<result column ="USER_ID" property="userId"/>
	<result column ="USER_PWD" property="userPwd"/>
	<result column ="USER_NAME" property="userName"/>
	<result column ="EMAIL" property="email"/>
	<result column ="BIRTHDAY" property="birthday"/>
	<result column ="GENDER" property="gender"/>
	<result column ="PHONE" property="phone"/>
	<result column ="ADDRESS" property="address"/>
	<result column ="ENROLL_DATE" property="enrollDate"/>
	<result column ="MODIFY_DATE" property="modifyDate"/>
	<result column ="STATUS" property="status"/>
	</resultMap>
  	<select id="loginMember" parameterType="Member" resultMap="memberResultMap">
    	select 
			USER_NO,
			USER_ID,
			USER_PWD,
			USER_NAME,
			EMAIL,
			BIRTHDAY,
			GENDER,
			PHONE,
			ADDRESS,
			ENROLL_DATE,
			MODIFY_DATE,
			STATUS
	    from Member 
	    where user_id = #{userId}
	    and user_pwd =#{userPwd}
	    and status = 'Y'
	  </select>
	  <insert id="insertMember" parameterType="Member">
	  	Insert
	  	INTO MEMBER 
	  	(
		  		USER_NO,
				USER_ID,
				USER_PWD,
				USER_NAME,
				EMAIL,
				BIRTHDAY,
				GENDER,
				PHONE,
				ADDRESS
		)VALUES
		(
				SEQ_UNO.NEXTVAL,
				#{userId},
				#{userPwd},
				#{userName},
				#{email},
				#{birthday},
				#{gender},
				#{phone},
				#{address}
		  	)
	  </insert>
	  <update id="updateMember" parameterType="Member">
	  update Member 
	  set 
			USER_ID  = #{userId},
			USER_PWD  = #{userPwd},
			USER_NAME  = #{userName},
			EMAIL  = #{email},
			BIRTHDAY  = #{birthday},
			GENDER  = #{gender},
			PHONE  = #{phone},
			ADDRESS  = #{address}
	  where user_no = #{userNo}
	  
	  </update>
	  <!-- 
	  <select id="selectOneMember" resultMap="memberResultMap">
	   select 
			USER_NO,
			USER_ID,
			USER_PWD,
			USER_NAME,
			EMAIL,
			BIRTHDAY,
			GENDER,
			PHONE,
			ADDRESS,
			ENROLL_DATE,
			MODIFY_DATE,
			STATUS
	    from Member 
	    where user_No = #{mNo}
	    and status = 'Y'
	  </select>
 		-->
</mapper>