<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.boot.mappers.AttachmentMapper">

    <insert id ="insertAttachment" parameterType="Attachment">

            insert into Attachment (
            FILE_NO,
            REF_BNO,
            ORIGIN_NAME,
            CHANGE_NAME,
            FILE_SIZE)values
                SEQ_FNO.NEXTVAL,
                SEQ_BNO.CURRVAL,
                #{file.originName},
                #{file.changeName},
                0
            )
     </insert>
</mapper>