<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.boot.mappers.boardMapper">
<resultMap id="resultBoard" type="Board">
    <result column="BOARD_NO" property="boardNo" />
    <result column="BOARD_TITLE" property="boardTitle" />
    <result column="BOARD_WRITER" property="boardWriter" />
    <result column="BOARD_CONTENT" property="boardContent" />
    <result column="ORIGIN_NAME" property="originName" />
    <result column="CHANGE_NAME" property="changeName" />
    <result column="COUNT" property="count" />
    <result column="CREATE_DATE" property="createDate" />
    <result column="STATUS" property="status" />
</resultMap>
    <resultMap id="resultReply" type="Reply">
        <result column="REPLY_NO" property="replyNo" />
        <result column="REPLY_CONTENT" property="replyContent" />
        <result column="REF_BNO" property="refBno" />
        <result column="REPLY_WRITER" property="replyWriter" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="STATUS" property="status" />
    </resultMap>
    <select id="selectBoardCount" resultType="_int">
        select count(*)
        from Board
        where status ='Y'
    </select>
    <select id="selectBoardList" resultMap="resultBoard">
        select
            BOARD_NO,
            BOARD_TITLE,
            BOARD_WRITER,
            ORIGIN_NAME,
            COUNT,
            To_char(CREATE_DATE, 'YYYY-MM-DD') as create_date
        from board
        where STATUS ='Y'
        order by board_no desc
    </select>
    <select id="selectBoard" resultMap="resultBoard">
        select
            Board_NO,
            BOARD_TITLE,
            BOARD_CONTENT,
            BOARD_WRITER,
            ORIGIN_NAME,
            CHANGE_NAME,
            To_char(CREATE_DATE, 'YYYY-MM-DD') as create_date
        from board
        where STATUS ='Y'
        and board_no =#{boardNo}
        order by board_no desc
    </select>
    <insert id="insertBoard" >
        insert into board
        (
        Board_NO,
        BOARD_TITLE,
        BOARD_CONTENT,
        BOARD_WRITER,
        ORIGIN_NAME,
        CHANGE_NAME
        )values
        (
        SEQ_BNO.nextval,
        #{boardTitle},
        #{boardContent},
        #{boardWriter},
        #{originName},
        #{changeName}
        )
    </insert>
    <insert id="insertReply" >
        insert into reply
        (
        REPLY_NO,
        REPLY_CONTENT,
        BOARD_WRITER,
        REPLY_WRITER
        )values
        (
        SEQ_RNO.nextval,
        #{replyContent},
        #{refBno},
        #{replyWriter}
        )
    </insert>
    <select id="getReplyList"  resultMap="resultReply">
        SELECT
        REPLY_NO,
        REPLY_CONTENT,
        REPLY_WRITER,
        TO_CHAR(CREATE_DATE,'YYYY-MM-DD') as CREATE_DATE
        FROM REPLY
        WHERE REF_BNO = #{boardNo}

    </select>
    <select id="photoBoard" resultMap="resultBoard">
        select
        BOARD_NO,
        BOARD_TITLE,
        BOARD_WRITER,
        CHANGE_NAME,
        ORIGIN_NAME,
        COUNT,
        To_char(CREATE_DATE, 'YYYY-MM-DD') as create_date
        from board
        where STATUS ='Y'
        and CHANGE_NAME is not null
        order by board_no desc
    </select>
</mapper>