.menu-swiper{
  width: 100%;
  height: 600px;
}

/* stylesmenu.css */
.menu-swiper .swiper-pagination {
  bottom: 160px;
}

.menu-swiper .swiper-slide {

  background-size: cover;
  width: 400px;
  height: 300px;
}

.menu-swiper .swiper-slide img {
  width: 400px;
  height: 300px;

  object-fit: cover; /* 옵션: 이미지 왜곡 방지 */
  border-radius: 8px;
}
