.main-swiper{
  width: 100%;
  height: 200px; 
  justify-content: center;
  align-items: center;
  
}

.main-swiper .swiper-slide {
  height: 170px;
  border-radius: 10px;
 
  font-size: 18px;
  background: #fff7eb;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-swiper .swiper-slide img {
  display: block;
  width: 100%;

  object-fit: cover;
}

