/*head*/
.header {
  width: 100%;
  height: 50px;
  background-color: #636060;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  margin-bottom: 5px;
}
.header p {
  font-size: 20px;
}

.header div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-right: 10px;
}

/*main*/
.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(100% - 50px);
}

/* main > 상품창(왼쪽) */
.pos-searchitem {
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
  height: 100%;
}

/* pos-searchitem > searchbar : 검색창*/
.searchBar-outer {
  width: calc(100% - 10px);
  margin: 0px auto;
  background-color: gainsboro;
  border-radius: 4px;
  border: 1px solid #6b6b6b;
}
.searchBar-outer > p {
  padding: 4px;
  font-size: 30px;
}
.searchBar-div {
  display: flex;

  align-items: center;
  background-color: white;
  border: 1px solid #6b6b6b;
  margin: 10px;
  border-radius: 4px;
}

.searchBar-div > img {
  width: 20px;
  height: 20px;
  border: none;
  padding: 10px;
}
.searchBar-div > input {
  width: 90%;
  font-size: 15px;
  color: black;
  background: white;
  border: none;
}


/*table 공통*/
table {
  width: 100%;
  text-align: center;
  line-height: center;
}

td > img:hover{
  cursor: pointer;
}

/* pos-searchitem > itemList : 상품목록*/
.itemList-outer {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  margin: 0px auto;
  background-color: #d9d9d9;
  border-radius: 4px;
  border: 1px solid #6b6b6b;
}


.item-table {
  width: calc(100% - 20px);
  border: 1px solid #6b6b6b;
  border-collapse: collapse;
  margin: 10px;
}


.item-table thead, .item-table tbody {
  display: table;
  width: 100%;
}

.item-table thead{
  background-color: #636060;
}

.item-table tbody{
  width: 100%;
  display: block;
  max-height: 400px;
  overflow-y: scroll;
}

.item-table tr{
  display: table;
  width: 100%;
}

.item-table thead tr{
  width: calc(100% - 20px);
}

  .item-table th:nth-child(1),
  .item-table td:nth-child(1) {
    width: 10%;
   }
   .item-table th:nth-child(2),
   .item-table td:nth-child(2) {
     width: 40%;
    }
    .item-table th:nth-child(3),
    .item-table td:nth-child(3) {
     width: 10%;
    }
    .item-table th:nth-child(4),
    .item-table td:nth-child(4) {
     width: 15%;
    }
    .item-table th:nth-child(5),
    .item-table td:nth-child(5) {
     width: 15%;
    }

.item-table th {
  border-bottom: 1px solid #6b6b6b;
  background: #636060;
  color: #fe8c12;
  padding: 5px;
}
.item-table td {
  border-bottom: 1px dotted #6b6b6b;
  background: white;
  color: black;
  padding: 8px;
}




/* pos-searchitem > calculate : 상품입력*/
.enteritem-outer {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  margin: 0px auto;
  background-color: #d9d9d9;
  border-radius: 4px;
  border: 1px solid #6b6b6b;
}

.enteritem-inner{
  display: flex;
  color: white;
  justify-content: center;

  margin-top: 4px;
}

.enter-title{
  width: 110px;
 gap: 2px;

}

.enter-title > img {
  width: 100px;
  height: 100px;
}

.enter-content{
  display: flex;
  flex-direction: column;
}
.enter1,.enter2{
  display:flex;
  gap: 1px;
}
.enter1 > div,.enter2 > div{
  width: 50px;
  height: 50px;
  border: 1px solid #d9d9d9;
  background-color: #636060;
  text-align : center;
  line-height: 50px;
}

.enter-show{
  width: 110px;
  border: 1px solid #d9d9d9;
  background-color: #636060;
  position: relative;
}
.enter-show > div:nth-child(1){
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 60px;
  color: #fe8c12;

}
.enter-show > div:nth-child(2){
  position: absolute;
  top: 0px;
  left: 0px;

  width: 50px;
  height: 50px;
  text-align : center;
  line-height: 50px;

  background-color: #636060;
  border-right: 2px solid #d9d9d9;
  border-bottom: 2px solid #d9d9d9;
}


/*main > 결제창(오른쪽) */
.pos-payitem{
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
  border: 1px solid #636060;
  border-radius: 4px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  margin: 0 5px;
}

/*pay head */
.payList-title {
  border-bottom: 1px solid #636060;
  margin: 2px;
}
.payList-title > p {
  font-size: 15px;
  margin: 0 5px;
}
.payList-head > p{
  font-size: 40px;
  text-align: center;
  padding: 10px;
}


/*payList */
.payTable-outer{
  width: calc(100% - 10px);
  height: 100%;
  margin: 0px auto;
}

.payTable {
  width: calc(100% - 20px);
  border: 1px solid #6b6b6b;
  border-collapse: collapse;
  margin: 10px;

}

.payTable thead, .payTable tbody {
  display: table; /* 테이블 레이아웃 유지 */
  width: 100%;
}

.payTable tbody {
  width: 100%;
  display: block;
  max-height: 400px;
  overflow-y: scroll;
}
.payTable tr {
  display: table;
  width: 100%;
}
.payTable thead tr{
  width: calc(100% - 20px);
}

.payTable th {
  border-bottom: 1px solid #6b6b6b;
  text-align: center;
  color: #fe8c12;
  padding: 5px;
}
.payTable th:nth-child(1), .payTable td:nth-child(1) {
 width: 15%;
}
.payTable th:nth-child(2), .payTable td:nth-child(2) {
  width: 10%;
 }
 .payTable th:nth-child(3), .payTable td:nth-child(3) {
  width: 40%;
 }
 .payTable th:nth-child(4), .payTable td:nth-child(4) {
  width: 15%;
 }
 .payTable th:nth-child(5), .payTable td:nth-child(5) {
  width: 15%;
 }
.payTable td {
  border-bottom: 1px dotted #6b6b6b;
  background: white;
  color: black;
  padding: 8px;
}
.payTable input{
  width: 30px;
  height: 20px;
  margin: 2px;
  border-radius: 4px;
}

.payCount{
  display: flex;
  width: calc(100% - 20px);
  border: 1px solid #636060;
  background-color: #d9d9d9;
  border-radius: 4px;
  margin: auto;
}

.payCount-content{
  width: 70%;
  padding: 8px 0;

}

.payCount-content p:nth-child(1){
  font-size: 20px;
}


.payCount-content p:nth-child(2){
  font-size: 30px;
}

.pay-btn{
  width: 30%;
  font-size: 30px;
  background-color: #636060;
  border-radius: 4px;
  margin: 5px;
  color: #fe8c12 ;
  border: none;
}




